name: Unit Tests

on: 
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  execute-tests:
    runs-on: windows-latest
    steps:
    - name: download-code
      uses: actions/checkout@v4
      
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2
      
    - name: execute-test
      run: dotnet test ./tests/Comparer.Tests/Comparer.Tests.csproj